#body {
    background-image: url('/static/images/conde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


h2 {
    width: 80%;
    font-size: inherit;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[class^=char] {
    display: inline-block !important;
    position: relative;
    text-align: center;
    font-weight: bold;
}