<nav class="navbar navbar-expand-lg navbar-light " style="background-image: linear-gradient(90deg, skyblue 0%, #e6ecf8 100%);">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Navbar scroll</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown px-2">
            <button class="nav-link dropdown-toggle btn btn-secondary" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <span  style="color: white;">ACCOUNTS</span> 
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              {% if user.is_authenticated%}
              <li><a class="dropdown-item" href="/profile/">Profile</a></li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
              {% else%}
              <li><a class="dropdown-item" href="/accounts/register/">Register</a></li>
              <li><a class="dropdown-item" href="/accounts/login/">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/all-hoods/">Neighborhoods</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="nav-item dropdown ml-2">
            <button class="nav-link dropdown-toggle btn btn-secondary" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <span  style="color: white;">NEIGHBORHOOD</span> 
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Join</a></li> 
              <li><a class="dropdown-item" href="/accounts/register/">Business</a></li>
              <li><a class="dropdown-item" href="#">Post</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Leave</a></li>
            </ul>
          </li>
         
         
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'search'%}" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>