{% extends 'base.html' %}

{% block content %}

{% for user in profile %}
<br>
<div class="container d-flex justify-content-center">
    <div class="card p-3 py-4">
        <div class="text-center"> <img src="{{user.profile_pic.url}}" width="100" class="rounded-circle">
            <h3 class="mt-2">{{user.name}}</h3>
            <hr class="line"> <small class="mt-4"></small>
            <span class="mt-1 clearfix">{{user.bio}}</span>
            <span class="mt-1 clearfix">I belong to - <a  style="text-decoration:none; list-style: none;" href="/all-hoods/4"><span style="color: skyblue;">{{user.neighborhood}}</span></a> </span>
            <div class="profile mt-5"> 
            <button class="profile_button px-5">
                <a style="text-decoration:none; list-style: none; color: cadetblue;" href="/update/">Edit profile</a>
            </button>
        </div>
    </div>
</div>

{% endfor%}
{% endblock %}